<!DOCTYPE html>
<html lang="en">
  <head >
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> --> <!-- REPLACE THIS -->
    <link rel="icon" href="<%= BASE_URL %>iconLaveries.ico">

    <title>Laveries INSA Lyon</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
  </head>
  <body>
    
      <a href="https://www.insa-lyon.fr/" target="_blank">
        <img src="/insa.png" width="280" height="100" alt="INSA Logo">
        </img>
    </a>
    <img src="/magouille.png" width="280" height="100" alt="blank">
    <a href="/" target="_self" >
      <img src="/laveries.png" width="270" height="120" alt="BDE Logo" style="text-align:center;"  >
      </img>
  </a>

    <a href="http://bde.insa-lyon.org/" target="_blank">
      <img src="/bde.png" width="140" height="120" alt="BDE Logo" style="float: right;">
      </img>
  </a>
    
  
    
    
  
    <div id="app"></div>

    <div id="Laveries"></div>
    <div id="Home"></div>
    <div id="B"></div>
    
    <!-- built files will be auto injected -->
  </body>
</html>
